{% extends 'base.html.twig' %}

{% block title %}Logowanie{% endblock %}

{% block body_class %} text-center {% endblock %}
{% block html_id %}page-sign-in{% endblock %}

{% block body %}
    <main class="form-signin">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Jesteś zalogowny jako {{ app.user.username }}, <a href="{{ path('app_logout') }}">Wyloguj</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 fw-normal">Zaloguj się</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                       value="{{ last_username }}" name="email" autocomplete="email" required autofocus>
                <label for="floatingInput">Adres email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
                       autocomplete="current-password" required>
                <label for="floatingPassword">Hasło</label>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me-me"> Zapamiętaj mnie
                </label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Zaloguj</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2021</p>

        </form>
    </main>
{% endblock %}
