<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Aplikacja kurierska{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app_admin') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app_admin') }}
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Super kurier</a>
{#    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">#}
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{{ url('app_logout') }}">Wyloguj</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a
                                class="nav-link {% if app.request.attributes.get('_route') == 'admin.index' %} active {% endif %}"
                                href="{{ url('admin.index') }}"
                        >
                            <span data-feather="home"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                                class="nav-link {% if app.request.attributes.get('_route') == 'admin.parcels.index' %} active {% endif %}"
                                href="{{ url('admin.parcels.index') }}"
                        >
                            <span data-feather="file"></span>
                            Paczki
                        </a>
                    </li>
                    {% endif %}

                    {% if app.user.hasRole('ROLE_COURIER') %}
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'admin.parcels.my.index' %} active {% endif %}"
                           href="{{ url('admin.parcels.my.index') }}">
                            <span data-feather="file-text"></span>
                            Moje paczki
                        </a>
                    </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'admin.parcels.delivery.index' %} active {% endif %}"
                           href="{{ url('admin.parcels.delivery.index') }}">
                            <span data-feather="users"></span>
                            Do dostarczenia
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item ">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'admin.parcels.pickup.index' %} active {% endif %}" href="{{ url('admin.parcels.pickup.index') }}">
                            <span data-feather="users"></span>
                            Do odebrania
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item ">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'admin.parcels.in-delivery.index' %} active {% endif %}" href="{{ url('admin.parcels.in-delivery.index') }}">
                            <span data-feather="users"></span>
                            W dostarczeniu
                        </a>
                    </li>
                    {% endif %}
                </ul>

{#                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">#}
{#                    <span>Saved reports</span>#}
{#                    <a class="d-flex align-items-center text-muted" href="#">#}
{#                        <span data-feather="plus-circle"></span>#}
{#                    </a>#}
{#                </h6>#}
{#                <ul class="nav flex-column mb-2">#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">#}
{#                            <span data-feather="file-text"></span>#}
{#                            Current month#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">#}
{#                            <span data-feather="file-text"></span>#}
{#                            Last quarter#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">#}
{#                            <span data-feather="file-text"></span>#}
{#                            Social engagement#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">#}
{#                            <span data-feather="file-text"></span>#}
{#                            Year-end sale#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
            </div>
        </nav>

        <main role="main" class="col-md-9 col-lg-10 pt-3 px-4" style="margin-left: auto">
            {% block body %}{% endblock %}
        </main>
    </div>
</div>

{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"#}
{#        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"#}
{#        crossorigin="anonymous"></script>#}

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

{% block body_javascripts %}

{% endblock %}
</body>
</html>
