{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Super paczka</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">O nas</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">Kurierzy</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">Pomoc</a>
                <a class="py-2 text-dark text-decoration-none" href="#">Cennik</a>
            </nav>
        </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Zamów paczkę</h1>
            <p class="fs-5 text-muted">Aby zamówić paczkę. Uzupełnij wszystkie wymagane dane</p>
        </div>
    </header>

    <main>

        {{ form_start(form) }}

        <div class="row">
            <div class="col-12">
                <h5>Nadawca</h5>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(form.senderAddress.firstName) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.senderAddress.lastName) }}
            </div>
            <div class="col-12">
                {{ form_row(form.senderAddress.email) }}
            </div>
            <div class="col-12">
                {{ form_row(form.senderAddress.street) }}
            </div>
            <div class="col-md-8">
                {{ form_row(form.senderAddress.city) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.senderAddress.postalCode) }}
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h5>Adresat</h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(form.recipientAddress.firstName) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.recipientAddress.lastName) }}
            </div>
            <div class="col-12">
                {{ form_row(form.recipientAddress.email) }}
            </div>
            <div class="col-12">
                {{ form_row(form.recipientAddress.street) }}
            </div>
            <div class="col-md-8">
                {{ form_row(form.recipientAddress.city) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.recipientAddress.postalCode) }}
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h5>Dane paczki</h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                {{ form_row(form.content) }}
            </div>
            <div class="col-12">
                {{ form_row(form.additionalInformations) }}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12 mt-3">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </main>

{% endblock body %}